body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

#loanList {
	margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.loan-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flow;
    justify-content: space-between;
    align-items: center;
}

.loan-item div {
    flex: 1;
    margin-right: 10px;
}

.loan-item button {
	margin-top: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.loan-item button:hover {
    background-color: #d32f2f;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form button {
    padding: 10px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #45a049;
}

.deleteBtn {
    display: block; /* Pour que le bouton prenne toute la largeur disponible */
    margin: 0 auto; /* Centre le bouton horizontalement */
    position: absolute; /* Permet de positionner le bouton indépendamment du texte */
    left: 50%; /* Positionne le bouton au centre horizontalement */
    transform: translate(100px, -55px); /* Ajuste pour que le bouton soit parfaitement centré */
}
